spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
  jpa:
    generate-ddl: true
    open-in-view: false

eureka:
  client:
    serviceUrl:
      defaultZone: http://${EURICA_HOST_NAME}:${EURICA_PORT}/eureka/
    instance:
      preferIpAddress: true