spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
  jpa:
    generate-ddl: true
    open-in-view: false

eureka:
  client:
    serviceUrl:
      defaultZone: http://${EURICA_HOST_NAME}:${EURICA_PORT}/eureka
    instance:
      preferIpAddress: true

service:
  address:
    url: ADDRESS_MODULE
  product:
    url: PRODUCT_MODULE
  product-category:
    url: PRODUCT_CATEGORY_MODULE
  store:
    url: STORE_MODULE
  stock:
    url: STOCK_MODULE
  order:
    url: ORDER_MODULE
  operation:
    url: OPERATION_MODULE
  payment:
    url: PAYMENT_MODULE
  shipment:
    url: SHIPMENT_MODULE
  notification:
    url: SHOP_NOTIFIER_MODULE