spring:
  application:
    name: Gate_module

  kafka:
    bootstrap-servers: ${KAFKA_URL}
    consumer:
      group-id: ${MODULE_GROUP_ID}

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8180/realms/shop
      client:
        provider:
          keycloak:
            issuer-uri: http://localhost:8180/realms/shop
            user-name-attribute: preferred_username
        registration:
          keycloak:
            client-id: ${KEYCLOAK_CLIENT_ID}
            client-secret: ${KEYCLOAK_CLIENT_SECRET}
            scope: openid

keycloak:
  serverUrl: ${KEYCLOAK_URL}
  realm: ${KEYCLOAK_REALM}
  username: ${KEYCLOAK_USERNAME}
  password: ${KEYCLOAK_PASSWORD}
  clientId: ${KEYCLOAK_CLIENT_ID}
  clientSecret: ${KEYCLOAK_CLIENT_SECRET}

logging:
  level:
    org.springframework.security: TRACE

microservices:
  baseUrl: ${BASE_URL}

web:
  client:
    retry: 300
    max-attempts: 3

service:
  address:
    url: lb://ADDRESS_MODULE
  product:
    url: lb://PRODUCT_MODULE
  product-category:
    url: lb://PRODUCT_CATEGORY_MODULE
  store:
    url: lb://STORE_MODULE
  stock:
    url: lb://STOCK_MODULE
  order:
    url: lb://ORDER_MODULE
  operation:
    url: lb://OPERATION_MODULE
  payment:
    url: lb://PAYMENT_MODULE
  shipment:
    url: lb://SHIPMENT_MODULE
  notification:
    url: lb://SHOP_NOTIFIER_MODULE